@charset "UTF-8";
@-webkit-keyframes sizeScale {
  0% {
    width: 0;
  }
  100% {
    width: calc(750 / 1200 * 100%);
    background-color: #fff;
  }
}
@keyframes sizeScale {
  0% {
    width: 0;
  }
  100% {
    width: calc(750 / 1200 * 100%);
    background-color: #fff;
  }
}

@-webkit-keyframes sizeScaleSp {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}

@keyframes sizeScaleSp {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}

@-webkit-keyframes progressBar {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(78px);
    transform: translateY(78px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes progressBar {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(78px);
    transform: translateY(78px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes progressBarSp {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes progressBarSp {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes iconNone {
  100% {
    opacity: 0;
    content: none;
  }
}

@keyframes iconNone {
  100% {
    opacity: 0;
    content: none;
  }
}

/* --------------------------------------------------------------------------------
  common.css change & modifier
-------------------------------------------------------------------------------- */
#container {
  padding-bottom: 210px;
}

@media (max-width: 736px) {
  #container {
    padding-bottom: 75px;
  }
}

.c-topLead__block {
  background: url("../imgs/bg-gray.jpg") repeat top left;
}

@media (max-width: 736px) {
  .c-topLead__block_in_location {
    padding-top: 35px;
  }
}

.c-topLead__flex_in_location {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 0;
}

.c-topLead__photo_in_location {
  top: -220px;
  right: auto;
  left: 0;
  width: 550px;
}

@media (max-width: 736px) {
  .c-topLead__photo_in_location {
    top: 100%;
    left: 50%;
    width: calc(100% - 40px);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.c-topLead__headline_in_location {
  width: 416px;
}

@media (max-width: 736px) {
  .c-topLead__headline_in_location {
    width: 100%;
  }
}

.headline_in_train {
  padding-left: 100px;
}

@media (max-width: 736px) {
  .headline_in_train {
    padding-left: 0;
  }
}

.c-topLead__lead_in_location {
  margin-left: auto;
}

/* --------------------------------------------------------------------------------
  access&location common
-------------------------------------------------------------------------------- */
.imageCap .caption_type_left {
  text-align: left;
}

@media (max-width: 736px) {
  .imageCap .caption_type_left {
    text-align: right;
  }
}

.p-englishHeadline {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 12px;
  line-height: 3.5;
  display: block;
  padding-bottom: 30px;
  letter-spacing: 1.8px;
  color: #646b73;
}

.p-englishHeadline::before, .p-englishHeadline::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-englishHeadline::before {
  margin-top: calc((1 - 3.5) * 0.5em);
}

.p-englishHeadline::after {
  margin-bottom: calc((1 - 3.5) * 0.5em);
}

@media (max-width: 736px) {
  .p-englishHeadline {
    padding-bottom: 15px;
  }
}

/* --------------------------------------------------------------------------------
  p-access
-------------------------------------------------------------------------------- */
.p-access__card_type_short {
  width: 480px;
  margin-right: 90px;
}

@media (max-width: 736px) {
  .p-access__card_type_short {
    width: auto;
    margin-right: 0;
  }
}

.p-access__card_type_short:last-of-type {
  margin: 90px 0 0;
}

@media (max-width: 736px) {
  .p-access__card_type_short:last-of-type {
    margin: 70px 0 0;
  }
}

.p-access__cardText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 20px 20px 30px;
  color: #000;
  background-color: #fff;
}

@media (max-width: 736px) {
  .p-access__cardText {
    padding: 15px;
  }
}

.p-access__cardMinutes {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 15px;
  line-height: .8;
  letter-spacing: 1.5px;
  color: #888;
}

@media (max-width: 736px) {
  .p-access__cardMinutes {
    font-size: 13px;
  }
}

.p-access__cardNum {
  font-size: 32px;
  letter-spacing: 1.6px;
  color: #000;
}

@media (max-width: 736px) {
  .p-access__cardNum {
    font-size: 26px;
  }
}

.p-access__cardNum:before, .p-access__cardNum:after {
  display: none;
}

.p-access__cardStation {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 5px;
}

@media (max-width: 736px) {
  .p-access__cardStation {
    font-size: 20px;
  }
}

.p-access__cardEnglish {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 1.5px;
}

@media (max-width: 736px) {
  .p-access__cardEnglish {
    font-size: 13px;
  }
}

.p-access__cardEnglish:before, .p-access__cardEnglish:after {
  display: none;
}

.p-access__cardCaption {
  line-height: 1.5;
  position: absolute;
  top: 100%;
  width: 100%;
  padding-top: 10px;
}

.p-access__cardCaption::before, .p-access__cardCaption::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-access__cardCaption::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.p-access__cardCaption::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

@media (max-width: 736px) {
  .p-access__cardCaption {
    text-align: right;
  }
}

.p-access__cardBlock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 120px;
}

@media (max-width: 736px) {
  .p-access__cardBlock {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 60px;
  }
}

.p-access__cardBlock:before {
  position: absolute;
  right: -50px;
  bottom: -90px;
  width: 290px;
  height: 290px;
  content: '';
  background-color: #a4a7aa;
}

/* --------------------------------------------------------------------------------
  .p-train
-------------------------------------------------------------------------------- */
.p-train {
  padding-top: 200px;
}

@media (max-width: 736px) {
  .p-train {
    padding-top: 150px;
  }
}

.p-train__wrap {
  position: relative;
  z-index: 0;
  width: 1010px;
  margin: auto 0 auto auto;
}

@media (max-width: 736px) {
  .p-train__wrap {
    width: 100%;
  }
}

.p-train__wrap::before {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: -90px;
  display: block;
  width: 250px;
  height: 375px;
  content: '';
  background: url(../imgs/bg-train.jpg) repeat center center;
}

@media (max-width: 736px) {
  .p-train__wrap::before {
    display: none;
  }
}

.p-train__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 50px 0;
  border-top: 1px solid #fff;
}

@media (max-width: 736px) {
  .p-train__head {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 20px;
    border-top: none;
  }
}

.p-train__title {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 13px;
  line-height: 3.23;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  letter-spacing: 2px;
  color: #ffffff;
}

@media (max-width: 736px) {
  .p-train__title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0;
    padding-right: 0;
    background: url(../imgs/bg-train.jpg) repeat center center;
  }
}

.p-train__headline {
  padding-left: 100px;
}

@media (max-width: 736px) {
  .p-train__headline {
    padding-left: 0;
  }
}

.p-train__block {
  padding: 90px 70px 70px;
  background-color: #f4f3f2;
}

@media (max-width: 736px) {
  .p-train__block {
    padding: 30px 20px;
  }
}

.p-train__heading {
  font-size: 16px;
  line-height: 1.88;
  padding-bottom: 20px;
  letter-spacing: 3.2px;
  border-bottom: solid 1px #b9b1ac;
}

.p-train__heading::before, .p-train__heading::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-train__heading::before {
  margin-top: calc((1 - 1.88) * 0.5em);
}

.p-train__heading::after {
  margin-bottom: calc((1 - 1.88) * 0.5em);
}

@media (max-width: 736px) {
  .p-train__heading {
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.p-trainAccess__map {
  position: relative;
  max-width: 807px;
  margin: 0 auto;
}

@media (max-width: 736px) {
  .p-trainAccess__map {
    overflow: hidden;
  }
}

@media (max-width: 736px) {
  .p-trainAccess__map:before {
    position: absolute;
    z-index: 2;
    top: 25px;
    right: 0;
    left: 0;
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: auto;
    content: '';
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .9;
    background: #fff url("../imgs/icn-swipe.svg") no-repeat center;
    background-size: 50px auto;
  }
}

@media (max-width: 736px) {
  .p-trainAccess__map.iconNone:before {
    -webkit-animation: iconNone .6s ease .2s 1 forwards;
    animation: iconNone .6s ease .2s 1 forwards;
  }
}

.p-trainAccess__map.iconNone .p-trainAccess__mapImage {
  opacity: 1;
}

@media (max-width: 736px) {
  .p-trainAccess__mapInner {
    position: relative;
    overflow-x: scroll;
  }
}

@media (max-width: 736px) {
  .p-trainAccess__mapImage {
    width: 200%;
    max-width: 200%;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }
}

.p-trainAccess__mapCaption {
  position: absolute;
  top: 100%;
  right: 0;
}

@media (max-width: 736px) {
  .p-trainAccess__mapCaption {
    position: static;
  }
}

.p-trainAccess__toStation {
  padding-top: 50px;
}

.p-trainAccess__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
}

@media (max-width: 736px) {
  .p-trainAccess__list {
    padding-top: 30px;
  }
}

.p-trainAccess__column {
  width: 270px;
  padding-bottom: 50px;
}

@media (max-width: 736px) {
  .p-trainAccess__column {
    padding-bottom: 30px;
  }
}

.p-trainAccess__column:nth-last-of-type(-n + 3) {
  padding-bottom: 0;
}

@media (max-width: 736px) {
  .p-trainAccess__column:nth-last-of-type(-n + 3) {
    padding-bottom: 30px;
  }
}

@media (max-width: 736px) {
  .p-trainAccess__column:last-of-type {
    padding-bottom: 0;
  }
}

.p-trainAccess__text01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
}

@media (max-width: 736px) {
  .p-trainAccess__text01 {
    padding-bottom: 7px;
  }
}

@media (max-width: 736px) {
  .p-trainAccess__text02 {
    color: #666;
  }
}

.p-trainAccess__station {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 2.8px;
}

.p-trainAccess__station::before, .p-trainAccess__station::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-trainAccess__station::before {
  margin-top: calc((1 - 1.36) * 0.5em);
}

.p-trainAccess__station::after {
  margin-bottom: calc((1 - 1.36) * 0.5em);
}

@media (max-width: 736px) {
  .p-trainAccess__station {
    font-size: 12px;
    letter-spacing: 1.4px;
  }
}

.p-trainAccess__stationName {
  font-size: 22px;
  letter-spacing: 4.4px;
}

@media (max-width: 736px) {
  .p-trainAccess__stationName {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.2px;
  }
}

.p-trainAccess__minutes {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 1.5px;
  color: #888;
}

@media (max-width: 736px) {
  .p-trainAccess__minutes {
    font-size: 13px;
  }
}

.p-trainAccess__num {
  font-size: 32px;
  line-height: .8;
  letter-spacing: 1.6px;
  color: #000;
}

@media (max-width: 736px) {
  .p-trainAccess__num {
    font-size: 26px;
  }
}

.p-simulation {
  padding-top: 210px;
}

@media (max-width: 736px) {
  .p-simulation {
    padding-top: 65px;
  }
}

.p-simulation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 736px) {
  .p-simulation__block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.p-simulation__column {
  width: 410px;
}

@media (max-width: 736px) {
  .p-simulation__column {
    width: 100%;
    margin-bottom: 60px;
  }
}

.p-simulation__column:last-of-type {
  margin-bottom: 0;
}

.p-simulation__imageWrap {
  margin-top: 50px;
}

@media (max-width: 736px) {
  .p-simulation__imageWrap {
    margin-top: 30px;
  }
}

/* --------------------------------------------------------------------------------
  p-location
-------------------------------------------------------------------------------- */
.p-location {
  padding-top: 320px;
}

@media (max-width: 736px) {
  .p-location {
    padding-top: 75px;
  }
}

.p-location__surroundingPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 736px) {
  .p-location__surroundingPhoto {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 60px 50px 0;
  }
}

.p-location__surroundingPhotoColumn {
  width: 333px;
}

@media (max-width: 736px) {
  .p-location__surroundingPhotoColumn {
    width: auto;
  }
}

.p-location__surroundingPhotoColumn:nth-of-type(2) {
  margin-top: 90px;
}

@media (max-width: 736px) {
  .p-location__surroundingPhotoColumn:nth-of-type(2) {
    margin-top: 50px;
  }
}

.p-location__surroundingPhotoColumn:nth-of-type(3) {
  margin-top: 180px;
}

@media (max-width: 736px) {
  .p-location__surroundingPhotoColumn:nth-of-type(3) {
    margin-top: 50px;
  }
}

.p-location__surroundingEnvironment {
  padding-top: 110px;
}

@media (max-width: 736px) {
  .p-location__surroundingEnvironment {
    padding-top: 80px;
  }
}

.p-location__airShot {
  width: 1100px;
  margin: 0 auto;
}

@media (max-width: 736px) {
  .p-location__airShot {
    width: 100%;
  }
  .p-location__airShot .caption {
    padding-right: 5px;
  }
}

.p-location__heading {
  font-size: 26px;
  font-weight: 500;
  line-height: 2.08;
  padding: 110px 0 50px;
  letter-spacing: 5.2px;
}

@media (max-width: 736px) {
  .p-location__heading {
    font-size: 21px;
    padding: 60px 0 30px;
  }
}

/* --------------------------------------------------------------------------------
  imageviewer
-------------------------------------------------------------------------------- */
.leaflet-left {
  right: 10px;
  left: inherit;
}

.leaflet-touch .leaflet-bar a {
  border-radius: 0 !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid #cdd1d3;
}
