@charset "UTF-8";
.c-topLead__lead_type_logn {
  width: 399px; }
  @media (max-width: 736px) {
    .c-topLead__lead_type_logn {
      width: 100%; } }

.p-plan {
  padding-top: 170px; }
  @media (max-width: 736px) {
    .p-plan {
      padding-top: 25px; } }
  .p-plan:last-of-type {
    padding-bottom: 150px; }
    @media (max-width: 736px) {
      .p-plan:last-of-type {
        padding: 40px 0 60px; } }
  .p-plan__wrap {
    position: relative;
    z-index: 0;
    width: 1010px;
    margin: auto 0 auto auto; }
    @media (max-width: 736px) {
      .p-plan__wrap {
        width: 100%; } }
    .p-plan__wrap::before {
      position: absolute;
      z-index: -1;
      top: -60px;
      left: -90px;
      display: block;
      width: 250px;
      height: 375px;
      content: '';
      background: url(../imgs/bg-plan-number.jpg) repeat center center; }
      @media (max-width: 736px) {
        .p-plan__wrap::before {
          display: none; } }
  .p-plan__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 50px 0; }
    @media (max-width: 736px) {
      .p-plan__head {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 0 20px; } }
  .p-plan__no {
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-right: 100px;
    color: #ffffff; }
    @media (max-width: 736px) {
      .p-plan__no {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 0;
        padding-right: 0;
        background: url(../imgs/bg-plan-number.jpg) repeat center center; } }
  .p-plan__small {
    font-size: 10px;
    letter-spacing: 1px; }
    @media (max-width: 736px) {
      .p-plan__small {
        font-size: 8px; } }
  .p-plan__num {
    font-size: 40px;
    line-height: .8; }
    @media (max-width: 736px) {
      .p-plan__num {
        font-size: 26px; } }
  .p-plan__headline {
    padding-left: 50px; }
    @media (max-width: 736px) {
      .p-plan__headline {
        padding-left: 0; } }
  .p-plan__print {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 30px; }
    @media (max-width: 736px) {
      .p-plan__print {
        display: none; } }
  @media (min-width: 737px) {
    .p-plan__printLink:hover {
      opacity: .4; } }

.p-planAnchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff; }
  @media (max-width: 736px) {
    .p-planAnchor {
      padding-bottom: 10px;
      border-bottom: none; } }
  .p-planAnchor__link {
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
    font-size: 18px;
    line-height: 1;
    letter-spacing: .1em;
    color: #9c9c9c; }
    @media (max-width: 736px) {
      .p-planAnchor__link {
        font-size: 14px; } }
    .p-planAnchor__link:not(:first-child)::before {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: auto 20px;
      content: '';
      background-color: #000000; }
      @media (max-width: 736px) {
        .p-planAnchor__link:not(:first-child)::before {
          height: 10px;
          margin: auto 10px; } }
    .p-planAnchor__link--on {
      color: #000000; }

.p-planBlock {
  padding: 70px;
  background-color: #ffffff; }
  @media (max-width: 736px) {
    .p-planBlock {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 30px 20px; } }
  .p-planBlock__tag {
    margin-bottom: 40px;
    text-align: right; }
    @media (max-width: 736px) {
      .p-planBlock__tag {
        margin-bottom: 20px;
        text-align: left; } }
  .p-planBlock__ldk {
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media (max-width: 736px) {
      .p-planBlock__ldk {
        font-size: 12px; } }
    .p-planBlock__ldk .size--01 {
      font-size: 2.28571em;
      line-height: 1.2;
      letter-spacing: 0.1em; }
      .p-planBlock__ldk .size--01::before, .p-planBlock__ldk .size--01::after {
        content: '';
        display: block;
        height: 0;
        width: 0; }
      .p-planBlock__ldk .size--01::before {
        margin-top: calc((1 - 1.2) * 0.5em); }
      .p-planBlock__ldk .size--01::after {
        margin-bottom: calc((1 - 1.2) * 0.5em); }
      @media (max-width: 736px) {
        .p-planBlock__ldk .size--01 {
          margin-bottom: 5px; } }
    .p-planBlock__ldk .size--02 {
      font-size: 1.71429em;
      line-height: 1.2;
      letter-spacing: 0.15em; }
      .p-planBlock__ldk .size--02::before, .p-planBlock__ldk .size--02::after {
        content: '';
        display: block;
        height: 0;
        width: 0; }
      .p-planBlock__ldk .size--02::before {
        margin-top: calc((1 - 1.2) * 0.5em); }
      .p-planBlock__ldk .size--02::after {
        margin-bottom: calc((1 - 1.2) * 0.5em); }
      @media (max-width: 736px) {
        .p-planBlock__ldk .size--02 {
          margin-bottom: 5px; } }
    .p-planBlock__ldk .size--03 {
      font-size: 1.28571em;
      line-height: 1.2;
      letter-spacing: 0.15em; }
      .p-planBlock__ldk .size--03::before, .p-planBlock__ldk .size--03::after {
        content: '';
        display: block;
        height: 0;
        width: 0; }
      .p-planBlock__ldk .size--03::before {
        margin-top: calc((1 - 1.2) * 0.5em); }
      .p-planBlock__ldk .size--03::after {
        margin-bottom: calc((1 - 1.2) * 0.5em); }
      @media (max-width: 736px) {
        .p-planBlock__ldk .size--03 {
          margin-bottom: 5px; } }
    .p-planBlock__ldk .size--04 {
      font-size: 1em;
      line-height: 1.2;
      letter-spacing: 0.2em; }
      .p-planBlock__ldk .size--04::before, .p-planBlock__ldk .size--04::after {
        content: '';
        display: block;
        height: 0;
        width: 0; }
      .p-planBlock__ldk .size--04::before {
        margin-top: calc((1 - 1.2) * 0.5em); }
      .p-planBlock__ldk .size--04::after {
        margin-bottom: calc((1 - 1.2) * 0.5em); }
      @media (max-width: 736px) {
        .p-planBlock__ldk .size--04 {
          margin-bottom: 5px; } }
    .p-planBlock__ldk .size--plus {
      line-height: 1em; }
  .p-planBlock__details {
    font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
    line-height: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 20px; }
    .p-planBlock__details::before, .p-planBlock__details::after {
      content: '';
      display: block;
      height: 0;
      width: 0; }
    .p-planBlock__details::before {
      margin-top: calc((1 - 1.2) * 0.5em); }
    .p-planBlock__details::after {
      margin-bottom: calc((1 - 1.2) * 0.5em); }
    @media (max-width: 736px) {
      .p-planBlock__details {
        padding-top: 10px; } }
  .p-planBlock__detail {
    font-size: 12px; }
    @media (max-width: 736px) {
      .p-planBlock__detail {
        font-size: 10px; } }
    .p-planBlock__detail:not(:last-child) {
      margin-right: 30px; }
    .p-planBlock__detail .size--01 {
      font-size: 1em;
      letter-spacing: .1em; }
    .p-planBlock__detail .size--02 {
      font-size: 1.5em;
      letter-spacing: .1em; }
  .p-planBlock__content {
    position: relative;
    margin: 70px 0; }
    @media (max-width: 736px) {
      .p-planBlock__content {
        margin: 35px 0; } }
  .p-planBlock__madori {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -o-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    opacity: 0; }
    @media (max-width: 736px) {
      .p-planBlock__madori {
        position: static;
        visibility: visible;
        opacity: 1; }
        .p-planBlock__madori:not(:first-child) {
          margin-top: 20px; } }
    .p-planBlock__madori--1f {
      visibility: visible;
      opacity: .15; }
    .p-planBlock__madori--on {
      position: relative;
      visibility: visible;
      opacity: 1; }
    .p-planBlock__madori img {
      width: 100%; }
  .p-planBlock__caption {
    font-size: 10px;
    line-height: 1.2;
    padding-top: 15px;
    text-align: left;
    letter-spacing: 2px;
    color: #878787; }
    .p-planBlock__caption::before, .p-planBlock__caption::after {
      content: '';
      display: block;
      height: 0;
      width: 0; }
    .p-planBlock__caption::before {
      margin-top: calc((1 - 1.2) * 0.5em); }
    .p-planBlock__caption::after {
      margin-bottom: calc((1 - 1.2) * 0.5em); }

.p-planTab {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 70px; }
  @media (max-width: 736px) {
    .p-planTab {
      display: none;
      padding-top: 30px; } }
  .p-planTab__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 190px;
    height: 50px;
    cursor: pointer;
    -webkit-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -o-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    color: #000000;
    border: 1px solid #000000; }
    @media (max-width: 736px) {
      .p-planTab__item {
        width: calc(100% / 2 - 10px);
        height: 30px; } }
    .p-planTab__item:not(:last-child) {
      margin-right: 30px; }
      @media (max-width: 736px) {
        .p-planTab__item:not(:last-child) {
          margin-right: 20px; } }
    .p-planTab__item--on {
      color: #f4f3f2;
      background-color: #000000; }
      .p-planTab__item--on::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        content: '';
        -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        border-width: 8px 5.5px 0 5.5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent; }
    .p-planTab__item--madori {
      display: none; }
      @media (max-width: 736px) {
        .p-planTab__item--madori {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 0 auto 20px;
          pointer-events: none; }
          .p-planTab__item--madori:not(:last-child) {
            margin-right: auto; } }
  .p-planTab__text {
    font-size: 18px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.1em; }
    @media (max-width: 736px) {
      .p-planTab__text {
        font-size: 16px; } }

.p-planLegend {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: -20px;
  letter-spacing: 2px;
  color: #878787; }
  .p-planLegend__item {
    margin-right: 20px; }
    .p-planLegend__item::before, .p-planLegend__item::after {
      content: '';
      display: block;
      height: 0;
      width: 0; }
    .p-planLegend__item::before {
      margin-top: calc((1 - 1.2) * 0.5em); }
    .p-planLegend__item::after {
      margin-bottom: calc((1 - 1.2) * 0.5em); }

.icn-legend {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 5px;
  margin-bottom: -.1em; }
  .icn-legend--heat {
    background-color: #e8dae0; }
  .icn-legend--storage {
    background-color: #ebdac6; }
  .icn-legend--water {
    background-color: #cde1ec; }
