@charset "UTF-8";
/******************************

 * style
 *
 * 1. import
 * 2. html, body
 * 3. tag
 * 4. Layout
 * 5. popup

******************************/
/*****
 * 1. import
*****/
@import url(import/reset.css);
@import url(import/util.css);
/*
Noto Serif
*/
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("../font/NotoSerif/NotoSerifCJKjp-Light.woff") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../font/NotoSerif/NotoSerifCJKjp-Regular.woff") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../font/NotoSerif/NotoSerifCJKjp-Medium.woff") format("opentype");
}

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("../font/NotoSerif/NotoSerifCJKjp-Bold.woff") format("opentype");
  font-display: swap;
}

/*
Noto Sans
*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../font/NotoSans/NotoSansCJKjp-Regular.woff") format("opentype");
}

/*****
 * 2. html, body
*****/
body {
  background-color: #fff;
}

.page {
  font-family: '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Noto Serif Japanese', serif;
  font-size: 14px;
  line-height: 1.5;
  min-width: 1200px;
  letter-spacing: 0.1em;
  color: #000000;
  background-color: #cac4c0;
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

@media (max-width: 736px) {
  .page {
    min-width: inherit;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow: hidden;
  }
}

/*****
 * 3. tag
*****/
/* anchor */
a {
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: top left;
}

a:hover {
  text-decoration: none;
  background-position: bottom right;
}

/* cap */
.cap,
.caption {
  font-size: 10px;
  line-height: 1.5;
  color: #666;
  background: none;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
}

.cap::before, .cap::after,
.caption::before,
.caption::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.cap::before,
.caption::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}

.cap::after,
.caption::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}

.cap.color-white,
.caption.color-white {
  color: #ffffff;
}

.cap_type_right,
.caption_type_right {
  text-align: right;
}

@media (max-width: 736px) {
  .cap_type_spRight,
  .caption_type_spRight {
    text-align: right;
  }
}

.cap {
  padding-top: 5px;
}

/* imageCap */
.imageCap {
  position: relative;
}

.imageCap .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px 10px;
}

.imageCap--out .caption {
  position: absolute;
  top: calc(100% + 10px);
  bottom: auto;
  left: 0;
  width: 100%;
  padding: 0;
  text-align: right;
}

.imageCap--out .caption.al {
  text-align: left;
}

/* img */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* pc sp */
.sp {
  display: none;
}

@media (max-width: 736px) {
  .sp {
    display: inline-block;
  }
  .pc {
    display: none;
  }
}

/* telephone */
.telephone {
  pointer-events: none;
}

@media (max-width: 736px) {
  .telephone {
    pointer-events: visible;
  }
}

/*****
 * 4. Layout
*****/
/* .wrap */
.wrap {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.bigWrap {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 736px) {
  .wrap,
  .bigWrap {
    width: auto;
    padding: 0 20px;
  }
}

/* Header */
/* gHeader */
/* gNav */
#gNav .off a {
  pointer-events: none;
}

@media (max-width: 736px) {
  #gNav {
    display: none;
  }
  #gNav.is-active {
    display: block;
  }
}

#logo {
  display: inline-block;
  width: 430px;
  margin-left: -5px;
}

@media (max-width: 736px) {
  #logo {
    width: calc(143.5vw / 375 * 100);
    margin-left: 0;
  }
}

#logo a {
  display: block;
}

#logo img {
  width: 100%;
  max-width: none;
}

#logo.on {
  opacity: 0.2;
}

.c-header #logo.on {
  opacity: 1;
}

/* c-nav */
.c-nav {
  padding-top: 215px;
  padding-bottom: 120px;
}

@media (max-width: 736px) {
  .c-nav {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.c-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 1200px;
}

@media (max-width: 736px) {
  .c-nav__wrap {
    min-width: auto;
  }
}

.c-nav__nav {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  padding-top: 30px;
}

@media (max-width: 736px) {
  .c-nav__nav {
    display: none;
  }
}

@media (max-width: 736px) {
  .c-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}

.c-nav__ul {
  font-size: 12px;
  line-height: 2.67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  letter-spacing: calc(1.8em / 12);
}

.c-nav__li {
  line-height: 1;
}

.c-nav__li:not(:last-child)::after {
  margin: 0.5em;
  content: '/';
}

.c-nav__li.on .c-nav__link {
  opacity: 0.3;
}

.c-nav__cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c-nav__cv .a-btn:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 736px) {
  .c-nav__cv {
    display: none;
  }
}

.c-nav__link {
  -webkit-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

@media (min-width: 737px) {
  .c-nav__link:hover {
    opacity: 0.2;
  }
}

/* pNav */
/* spNav */
#spNav,
#spMenu {
  display: none;
}

@media (max-width: 736px) {
  #spNav,
  #spMenu {
    display: block;
  }
}

/* Container */
#container {
  text-align: left;
  background-color: transparent;
}

#container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: #cac4c0;
  visibility: hidden;
  opacity: 0;
  z-index: 98;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#container.on::before {
  visibility: visible;
  opacity: 1;
}

/* Footer */
/* fNav */
#fNav {
  font-size: 11px;
  color: #666;
}

#fNav .off a {
  pointer-events: none;
}
