@charset "UTF-8";
.font-ja {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
}

.font-en {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
}

.c-hamburger {
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  cursor: pointer;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  background-color: #000000;
  -webkit-box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
  box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
}

@media (max-width: 736px) {
  .c-hamburger {
    top: 20px;
    left: 0;
    width: 55px;
    height: 55px;
  }
}

.c-hamburger--on .c-hamburger__line {
  margin-bottom: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.c-hamburger--on .c-hamburger__line--01 {
  -webkit-transform: translate(-50%, -2px) rotate(45deg);
  -ms-transform: translate(-50%, -2px) rotate(45deg);
  transform: translate(-50%, -2px) rotate(45deg);
}

.c-hamburger--on .c-hamburger__line--02 {
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%);
  opacity: 0;
}

.c-hamburger--on .c-hamburger__line--03 {
  -webkit-transform: translate(-50%, -2px) rotate(-45deg);
  -ms-transform: translate(-50%, -2px) rotate(-45deg);
  transform: translate(-50%, -2px) rotate(-45deg);
}

.c-hamburger__line {
  position: absolute;
  top: 26px;
  left: 50%;
  display: block;
  width: calc(100% - 38px);
  height: 1px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
}

@media (max-width: 736px) {
  .c-hamburger__line {
    top: 20px;
    width: calc(100% - 30px);
  }
}

.c-hamburger__line--01 {
  -webkit-transform: translate(-50%, -7px);
  -ms-transform: translate(-50%, -7px);
  transform: translate(-50%, -7px);
}

@media (max-width: 736px) {
  .c-hamburger__line--01 {
    -webkit-transform: translate(-50%, -6px);
    -ms-transform: translate(-50%, -6px);
    transform: translate(-50%, -6px);
  }
}

.c-hamburger__line--02 {
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.c-hamburger__line--03 {
  -webkit-transform: translate(-50%, 7px);
  -ms-transform: translate(-50%, 7px);
  transform: translate(-50%, 7px);
}

@media (max-width: 736px) {
  .c-hamburger__line--03 {
    -webkit-transform: translate(-50%, 6px);
    -ms-transform: translate(-50%, 6px);
    transform: translate(-50%, 6px);
  }
}

.c-hamburger__text {
  font-family: "Charter-Roman";
  font-size: 10px;
  line-height: 1;
  position: absolute;
  top: calc(26px - 0.5em);
  left: 50%;
  -webkit-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-transform: translate(-50%, 20px);
  -ms-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  letter-spacing: 1.5px;
  color: #ffffff;
}

@media (max-width: 736px) {
  .c-hamburger__text {
    font-size: 8px;
    top: calc(20px - 0.5em);
  }
}

.c-header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  overflow: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 100px;
  -webkit-transition: 0.8s 0.4s ease-in-out;
  -o-transition: 0.8s 0.4s ease-in-out;
  transition: 0.8s 0.4s ease-in-out;
  opacity: 0;
  background-color: #cac4c0;
}

@media (max-width: 736px) {
  .c-header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: auto;
    padding: 50px 0 0 0;
  }
}

.c-header--start {
  overflow: scroll;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.c-header--on {
  visibility: visible;
  opacity: 1;
}

.c-header .bigWrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
}

.c-header .c-nav__wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: auto;
  max-width: 1200px;
}

.c-header__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 65px;
}

.c-header__rowClm {
  width: calc(543% / 1200 * 100);
  margin-top: calc(70% / 1200 * 100);
  opacity: 0;
  will-change: transform;
}

@media (max-width: 736px) {
  .c-header__rowClm {
    width: 100%;
    margin-top: 35px;
    opacity: 1;
    text-align: center;
  }
  .c-header__rowClm:first-child {
    margin-top: 0;
  }
}

.c-header__photo {
  overflow: hidden;
}

@media (max-width: 736px) {
  .c-header__photo {
    display: none;
  }
}

@media (min-width: 737px) {
  .c-header__photo img {
    -webkit-transition: 1.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -o-transition: 1.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    transition: 1.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .c-header__photo img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.c-header__rowText {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 12px;
  line-height: 1.2;
  padding-top: 30px;
  letter-spacing: 1.8px;
}

.c-header__rowText::before, .c-header__rowText::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-header__rowText::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-header__rowText::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

@media (max-width: 736px) {
  .c-header__rowText {
    font-size: 15px;
    padding-top: 0;
  }
}

.c-header__cv {
  margin-top: 50px;
}

.c-header__cv.sp {
  display: none;
}

@media (max-width: 736px) {
  .c-header__cv.sp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.a-boxShadow {
  -webkit-box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
  box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
}

.a-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 210px;
  height: 50px;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  border: 1px solid #000000;
}

@media (max-width: 736px) {
  .a-btn {
    height: 36px;
  }
}

.a-btn:hover {
  opacity: 0.4;
}

.a-btn--map {
  border: 1px solid #878787;
  background-color: #c2bab5;
}

.a-btn--map .a-btn__text {
  margin-left: -20px;
  padding-left: 40px;
}

.a-btn--map .a-btn__text::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 10px;
  height: 15px;
  content: '';
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: url(../icon/icn-map.svg) no-repeat center center;
  background-size: cover;
}

@media (min-width: 737px) {
  .a-btn--cv:hover {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .a-btn--cv:hover .a-btn__text::after {
    width: 60px;
    height: 60px;
    -webkit-transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -o-transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -webkit-transform: translate(-47%, -50%);
    -ms-transform: translate(-47%, -50%);
    transform: translate(-47%, -50%);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.a-btn--cv .a-btn__text {
  margin-left: -10px;
  padding-left: 20px;
}

.a-btn--cv .a-btn__text::before, .a-btn--cv .a-btn__text::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  content: '';
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 50%;
  background-color: #000000;
}

.a-btn--cv .a-btn__text::after {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 0.4;
}

.a-btn--red, .a-btn--blue {
  width: 430px;
  height: 75px;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.5);
  box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.5);
}

@media (min-width: 737px) {
  .a-btn--red:hover, .a-btn--blue:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
    box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
  }
  .a-btn--red:hover .a-btn__text::after, .a-btn--blue:hover .a-btn__text::after {
    width: 60px;
    height: 60px;
    -webkit-transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -o-transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -webkit-transform: translate(-47%, -50%);
    -ms-transform: translate(-47%, -50%);
    transform: translate(-47%, -50%);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.a-btn--red:not(:last-child), .a-btn--blue:not(:last-child) {
  margin-right: 70px;
}

.a-btn--red .a-btn__text, .a-btn--blue .a-btn__text {
  font-size: 18px;
  line-height: 1;
  margin-left: -10px;
  padding-left: 20px;
}

@media (max-width: 736px) {
  .a-btn--red .a-btn__text, .a-btn--blue .a-btn__text {
    font-size: 14px;
  }
}

.a-btn--red .a-btn__text::before, .a-btn--red .a-btn__text::after, .a-btn--blue .a-btn__text::before, .a-btn--blue .a-btn__text::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  content: '';
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 50%;
  background-color: #ffffff;
}

@media (max-width: 736px) {
  .a-btn--red .a-btn__text::before, .a-btn--red .a-btn__text::after, .a-btn--blue .a-btn__text::before, .a-btn--blue .a-btn__text::after {
    width: 7px;
    height: 7px;
  }
}

.a-btn--red .a-btn__text::after, .a-btn--blue .a-btn__text::after {
  z-index: 0;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 0.4;
}

.a-btn--red {
  background-color: #915c7e;
}

.a-btn--blue {
  background-color: #556a8f;
}

.a-btn__text {
  font-size: 14px;
  line-height: 1;
  position: relative;
  letter-spacing: calc(2.1em / 14);
}

@media (max-width: 736px) {
  .a-btn__text {
    font-size: 12px;
  }
}

.a-textBlock {
  width: 790px;
}

@media (max-width: 736px) {
  .a-textBlock {
    width: 100%;
  }
}

.c-btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 736px) {
  .c-btnWrap .a-btn {
    width: calc(158vw / 375 * 100);
    max-width: 210px;
  }
}

@media (max-width: 736px) {
  .c-btnWrap--multi .a-btn {
    width: calc(100% / 2 - 20px);
  }
}

.c-btnWrap--multi .a-btn:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 736px) {
  .c-btnWrap--multi .a-btn:not(:last-child) {
    margin-right: 20px;
  }
}

.c-btnWrap--contact {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 736px) {
  .c-btnWrap--contact {
    top: -27.5px;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  .c-btnWrap--contact .a-btn {
    width: calc(275% / 385 * 100);
    max-width: none;
    height: 55px;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 736px) {
  .c-topLead__wrap {
    padding: 0 20px;
  }
}

.c-topLead__block {
  position: relative;
  padding: 100px 0 115px;
  color: #ffffff;
  background: url("../imgs/bg-green.jpg") repeat top left;
  background-size: contain;
}

@media (max-width: 736px) {
  .c-topLead__block {
    padding: 45px 0 140px;
  }
}

.c-topLead__titleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 565px;
}

@media (max-width: 736px) {
  .c-topLead__titleWrap {
    width: 100%;
  }
}

.c-topLead__title {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 18px;
  line-height: 1;
  margin-right: 20px;
  letter-spacing: calc(2.7em / 18);
}

@media (max-width: 736px) {
  .c-topLead__title {
    font-size: 12px;
    margin-right: 15px;
  }
}

.c-topLead__titleLine {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  margin-bottom: 2px;
  border-left: 20px solid #ffffff;
  background-color: #000000;
}

.c-topLead__flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 90px;
}

@media (max-width: 736px) {
  .c-topLead__flex {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 40px;
  }
}

.c-topLead__headline {
  font-size: 28px;
  line-height: 1.93;
  width: 400px;
  letter-spacing: calc(5.6em / 28);
}

.c-topLead__headline::before, .c-topLead__headline::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-topLead__headline::before {
  margin-top: calc((1 - 1.93) * 0.5em);
}

.c-topLead__headline::after {
  margin-bottom: calc((1 - 1.93) * 0.5em);
}

@media (max-width: 736px) {
  .c-topLead__headline {
    font-size: 21px;
    width: 100%;
  }
}

.c-topLead__photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
}

@media (max-width: 736px) {
  .c-topLead__photo {
    top: 100%;
    left: 50%;
    width: calc(100% - 40px);
    margin-top: -95px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.c-topLead__lead {
  width: 416px;
  padding-top: 70px;
}

@media (max-width: 736px) {
  .c-topLead__lead {
    width: 100%;
    padding-top: 61.5px;
  }
}

.c-topLead__text {
  font-size: 14px;
  line-height: 2.14;
  text-align: justify;
  letter-spacing: calc(2.8em / 14);
}

.c-topLead__text::before, .c-topLead__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-topLead__text::before {
  margin-top: calc((1 - 2.14) * 0.5em);
}

.c-topLead__text::after {
  margin-bottom: calc((1 - 2.14) * 0.5em);
}

@media (max-width: 736px) {
  .c-topLead__text {
    font-size: 13px;
  }
}

.headline--02 {
  font-size: 26px;
  line-height: 1.77;
  letter-spacing: calc(5.2em / 26);
}

.headline--02::before, .headline--02::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.headline--02::before {
  margin-top: calc((1 - 1.77) * 0.5em);
}

.headline--02::after {
  margin-bottom: calc((1 - 1.77) * 0.5em);
}

@media (max-width: 736px) {
  .headline--02 {
    font-size: 19px;
  }
}

.headline--03 {
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: calc(4em / 20);
}

.headline--03::before, .headline--03::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.headline--03::before {
  margin-top: calc((1 - 1.8) * 0.5em);
}

.headline--03::after {
  margin-bottom: calc((1 - 1.8) * 0.5em);
}

@media (max-width: 736px) {
  .headline--03 {
    font-size: 16px;
  }
}

.headline--04 {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: calc(3.2em / 16);
}

.headline--04::before, .headline--04::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.headline--04::before {
  margin-top: calc((1 - 1.63) * 0.5em);
}

.headline--04::after {
  margin-bottom: calc((1 - 1.63) * 0.5em);
}

@media (max-width: 736px) {
  .headline--04 {
    font-size: 14px;
  }
}

.text {
  font-size: 14px;
  line-height: 2.14;
  text-align: justify;
  letter-spacing: calc(2.8em / 14);
}

.text::before, .text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.text::before {
  margin-top: calc((1 - 2.14) * 0.5em);
}

.text::after {
  margin-bottom: calc((1 - 2.14) * 0.5em);
}

@media (max-width: 736px) {
  .text {
    font-size: 13px;
  }
}

.text--small {
  font-size: 12px;
  line-height: 2;
  letter-spacing: calc(2.4em / 12);
}

.text--small::before, .text--small::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.text--small::before {
  margin-top: calc((1 - 2) * 0.5em);
}

.text--small::after {
  margin-bottom: calc((1 - 2) * 0.5em);
}

.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-flex--516 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: -68px;
  margin-right: -68px;
}

@media (max-width: 736px) {
  .c-flex--516 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -35px;
    margin-right: -35px;
  }
}

.c-flex--335 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: -47px;
  margin-right: -47px;
}

@media (max-width: 736px) {
  .c-flex--335 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -25px;
    margin-right: -25px;
  }
}

@media (max-width: 736px) {
  .c-flex--335--text {
    margin-top: -45px;
  }
  .c-flex--335--text .c-clm {
    margin-top: 45px;
  }
}

.c-flex--254 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: -28px;
  margin-right: -28px;
}

@media (max-width: 736px) {
  .c-flex--254 {
    margin-top: -20px;
    margin-right: -20px;
  }
}

@media (max-width: 736px) {
  .c-flex--254--text {
    margin-top: -35px;
  }
  .c-flex--254--text .c-clm {
    margin-top: 35px;
  }
}

.c-clm--516 {
  width: 516px;
  margin-top: 68px;
  margin-right: 68px;
}

@media (max-width: 736px) {
  .c-clm--516 {
    width: 100%;
    max-width: 516px;
    margin-top: 35px;
    margin-right: 35px;
  }
}

.c-clm--335 {
  width: 335px;
  margin-top: 47px;
  margin-right: 47px;
}

@media (max-width: 736px) {
  .c-clm--335 {
    width: 100%;
    max-width: 335px;
    margin-top: 25px;
    margin-right: 25px;
  }
}

.c-clm--254 {
  width: 254px;
  margin-top: 28px;
  margin-right: 28px;
}

@media (max-width: 736px) {
  .c-clm--254 {
    width: calc(100% / 2 - 20px);
    max-width: 254px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

.c-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 646px;
  background: url(../imgs/bg-information@2x.jpg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 736px) {
  .c-information {
    height: 375px;
    background: url(../imgs/sp/bg-information.jpg) no-repeat right center;
    background-size: cover;
  }
}

.c-information__content {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.c-information__title {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 38px;
  letter-spacing: calc(2.1em / 14);
  text-shadow: 0 0 20px #000000;
}

@media (max-width: 736px) {
  .c-information__title {
    font-size: 12px;
    padding-bottom: 25px;
  }
}

.c-information__text {
  text-shadow: 0 0 20px #000000;
}

.c-information__text--01 {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: calc(3.6em / 18);
}

.c-information__text--01::before, .c-information__text--01::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-information__text--01::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-information__text--01::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

@media (max-width: 736px) {
  .c-information__text--01 {
    font-size: 14px;
  }
}

.c-information__text--01 .size--01 {
  font-size: calc(22em / 18);
  letter-spacing: calc(3.3em / 22);
}

.c-information__text--02 {
  font-size: 28px;
  line-height: 1.2;
  margin-top: 24px;
  letter-spacing: calc(5.6em / 28);
}

.c-information__text--02::before, .c-information__text--02::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-information__text--02::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-information__text--02::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

@media (max-width: 736px) {
  .c-information__text--02 {
    font-size: 19px;
    margin-top: 14px;
  }
}

.c-information__text--03 {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 20px;
  letter-spacing: calc(2.8em / 14);
}

.c-information__text--03::before, .c-information__text--03::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-information__text--03::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-information__text--03::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

@media (max-width: 736px) {
  .c-information__text--03 {
    font-size: 12px;
    margin-top: 14px;
  }
}

.c-information .caption {
  top: 0;
  bottom: auto;
  padding: 10px;
}

.c-contact {
  position: relative;
  padding-top: 115px;
  padding-bottom: 70px;
}

@media (max-width: 736px) {
  .c-contact {
    padding-top: 65px;
    padding-bottom: 45px;
  }
}

.c-contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 736px) {
  .c-contact__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.c-contact__line {
  width: 1px;
  height: 93px;
  background-color: #92867f;
}

@media (max-width: 736px) {
  .c-contact__line {
    width: 250px;
    height: 1px;
    margin: 25px 0 30px 0;
    opacity: 0.4;
  }
}

.c-contact__left, .c-contact__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(50% - 1px);
}

@media (max-width: 736px) {
  .c-contact__left, .c-contact__right {
    width: 100%;
  }
}

.c-contact__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 90px;
  text-align: center;
}

@media (max-width: 736px) {
  .c-contact__left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0;
  }
}

.c-contact__left .size--01 {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: calc(1.8em / 12);
}

.c-contact__left .size--01::before, .c-contact__left .size--01::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-contact__left .size--01::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-contact__left .size--01::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

.c-contact__left .size--02 {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 20px;
  letter-spacing: calc(2.1em / 14);
}

.c-contact__left .size--02::before, .c-contact__left .size--02::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-contact__left .size--02::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-contact__left .size--02::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

@media (max-width: 736px) {
  .c-contact__left .size--02 {
    font-size: 11px;
    margin-top: 10px;
  }
}

.c-contact__right {
  font-size: 14px;
  line-height: 2.14;
  padding-left: 70px;
  letter-spacing: calc(2.8em / 14);
}

.c-contact__right::before, .c-contact__right::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-contact__right::before {
  margin-top: calc((1 - 2.14) * 0.5em);
}

.c-contact__right::after {
  margin-bottom: calc((1 - 2.14) * 0.5em);
}

@media (max-width: 736px) {
  .c-contact__right {
    font-size: 12px;
    padding-left: 0;
    text-align: center;
  }
}

.c-contact__tel {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: calc(3.3em / 18);
}

.c-contact__tel::before, .c-contact__tel::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-contact__tel::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-contact__tel::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

@media (max-width: 736px) {
  .c-contact__tel {
    font-size: 19px;
  }
}

.c-contact__telLink {
  font-size: calc(22em / 18);
  display: inline-block;
  padding-top: 13px;
  pointer-events: none;
}

@media (max-width: 736px) {
  .c-contact__telLink {
    padding-top: 15px;
    pointer-events: auto;
  }
}

.c-footerCont {
  padding: 110px 0;
  background-color: #f4f3f2;
}

@media (max-width: 736px) {
  .c-footerCont {
    padding: 55px 25px;
  }
}

.c-footerCont__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 736px) {
  .c-footerCont__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.c-footerCont__left {
  width: 430px;
}

@media (max-width: 736px) {
  .c-footerCont__left {
    width: 100%;
  }
}

.c-footerCont__right {
  width: 434px;
}

.c-footerCont__logo {
  width: 187px;
}

@media (max-width: 736px) {
  .c-footerCont__logo {
    width: calc(93.5vw / 375 * 100);
    margin: 0 auto;
  }
}

.c-footerCont__logo img {
  width: 100%;
  max-width: none;
}

.c-footerCont__copy {
  width: 362px;
}

@media (max-width: 736px) {
  .c-footerCont__copy {
    display: block;
    width: calc(187vw / 375 * 100);
    margin: 0 auto;
    padding-top: 35px;
  }
}

.c-footerCont__copy img {
  width: 100%;
  max-width: none;
}

.c-footerCont__name {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 10px;
  line-height: 1.2;
  padding-top: 40px;
  letter-spacing: 1px;
  color: #9f9f9f;
}

.c-footerCont__name::before, .c-footerCont__name::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-footerCont__name::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-footerCont__name::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

.c-footerCont__textBlock {
  margin-top: 90px;
  text-align: justify;
  color: #878787;
}

@media (max-width: 736px) {
  .c-footerCont__textBlock {
    margin-top: 0;
  }
}

.c-footerCont__textBlock::before {
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 30px;
  content: '';
  background-color: #878787;
}

@media (max-width: 736px) {
  .c-footerCont__textBlock::before {
    width: 45px;
    margin: 45px auto;
    opacity: 0.4;
  }
}

.c-footerCont__text {
  font-size: 12px;
  line-height: 2;
  letter-spacing: calc(1.2em / 12);
}

.c-footerCont__text::before, .c-footerCont__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-footerCont__text::before {
  margin-top: calc((1 - 2) * 0.5em);
}

.c-footerCont__text::after {
  margin-bottom: calc((1 - 2) * 0.5em);
}

@media (max-width: 736px) {
  .c-footerCont__text {
    font-size: 11px;
  }
}

.c-footerCont__caption {
  font-size: 10px;
  line-height: 1.8;
  padding-top: 30px;
  letter-spacing: 1px;
}

.c-footerCont__caption::before, .c-footerCont__caption::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-footerCont__caption::before {
  margin-top: calc((1 - 1.8) * 0.5em);
}

.c-footerCont__caption::after {
  margin-bottom: calc((1 - 1.8) * 0.5em);
}

@media (max-width: 736px) {
  .c-footerCont__caption {
    padding-top: 0;
  }
}

.c-footerCont .c-nav__nav {
  padding-top: 70px;
}

.c-footerCorp {
  font-family: “游ゴシック”, YuGothic, "Noto SansJapanese Light", "Lucida Grande", "Lucida Sans Unicode", "Noto SansJapanese", "ヒラギノ角ゴシック ProN", Hiragino Kaku Gothic ProN, sans-serif;
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

@media (max-width: 736px) {
  .c-footerCorp {
    padding-top: 55px;
    padding-bottom: 35px;
  }
}

.c-footerCorp__bnrArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 1px solid #d9d8d8;
}

.c-footerCorp__corporate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (max-width: 736px) {
  .c-footerCorp__corporate {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 35px;
  }
}

.c-footerCorp__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media (max-width: 736px) {
  .c-footerCorp__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.c-footerCorp__logo:not(:last-child) {
  margin-right: 20px;
}

.c-footerCorp__company {
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 16px;
  letter-spacing: 0.5px;
}

@media (max-width: 736px) {
  .c-footerCorp__company {
    padding-bottom: 7.5px;
  }
}

.c-footerCorp__text {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.c-footerCorp__text::before, .c-footerCorp__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-footerCorp__text::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}

.c-footerCorp__text::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.c-footerCorp__text .size--01 {
  font-size: 12px;
}

.c-footerCorp__copyright {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 10px;
  line-height: 1.2;
  display: inline-block;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  letter-spacing: 0.1em;
  color: #9f9f9f;
}

.c-footerCorp__copyright::before, .c-footerCorp__copyright::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-footerCorp__copyright::before {
  margin-top: calc((1 - 1.2) * 0.5em);
}

.c-footerCorp__copyright::after {
  margin-bottom: calc((1 - 1.2) * 0.5em);
}

@media (max-width: 736px) {
  .c-footerCorp__copyright {
    font-size: 8px;
    display: block;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: center;
  }
}

.c-footerCorp__detail {
  display: none;
}

.c-footerBnr {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.69;
  width: 550px;
  letter-spacing: calc(2em / 13);
}

@media (max-width: 736px) {
  .c-footerBnr {
    width: 100%;
  }
  .c-footerBnr:not(:last-child) {
    margin-bottom: 45px;
  }
}

.c-footerBnr__link {
  display: block;
  -webkit-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 0.4s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

@media (min-width: 737px) {
  .c-footerBnr__link:hover {
    opacity: 0.7;
  }
}

.c-footerBnr__title {
  padding-top: 25px;
}

.c-footerBnr__title::before, .c-footerBnr__title::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-footerBnr__title::before {
  margin-top: calc((1 - 1.69) * 0.5em);
}

.c-footerBnr__title::after {
  margin-bottom: calc((1 - 1.69) * 0.5em);
}

.c-footerBnr__text {
  padding-top: 26px;
}

.c-footerBnr__text::before, .c-footerBnr__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.c-footerBnr__text::before {
  margin-top: calc((1 - 1.69) * 0.5em);
}

.c-footerBnr__text::after {
  margin-bottom: calc((1 - 1.69) * 0.5em);
}

@media (max-width: 736px) {
  .c-footerBnr__text {
    padding-top: 25px;
  }
}

[data-aos='aos-headline'] {
  -webkit-transition: .4s ease-in;
  -o-transition: .4s ease-in;
  transition: .4s ease-in;
  opacity: 0;
}

[data-aos='aos-headline'].aos-animate {
  opacity: 1;
}

/*aos-headline*/
[data-aos='aos-headline'] .type {
  display: inline-block;
  -webkit-transition: 1.5s ease-in;
  -o-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
  opacity: 0;
}

[data-aos='aos-headline'] .type-top {
  -webkit-transition: .9s ease-in;
  -o-transition: .9s ease-in;
  transition: .9s ease-in;
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s;
}

[data-aos='aos-headline'] .type-right {
  -webkit-transition: 1.1s ease-in;
  -o-transition: 1.1s ease-in;
  transition: 1.1s ease-in;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

[data-aos='aos-headline'] .type-left {
  -webkit-transition: 1.3s ease-in;
  -o-transition: 1.3s ease-in;
  transition: 1.3s ease-in;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

[data-aos='aos-headline'] .type-bottom {
  -webkit-transition: 1.5s ease-in;
  -o-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

[data-aos='aos-headline'].aos-animate .type {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

[data-aos='aos-photo'] {
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='aos-photo'].aos-animate {
  -webkit-box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
  box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[data-aos='aos-fadeUp'] {
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='aos-fadeUp'].aos-animate {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[data-aos='aos-fadeUp2'] {
  -webkit-transform: translateY(40%);
  -ms-transform: translateY(40%);
  transform: translateY(40%);
  opacity: 0;
  -webkit-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='aos-fadeUp2'].aos-animate {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[data-aos='aos-fadeIn'] {
  opacity: 0;
  -webkit-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='aos-fadeIn'].aos-animate {
  opacity: 1;
}

[data-aos='originalFade'] > * {
  opacity: 0;
}

.originalFade__children--option {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

.originalFade__children--out {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

[data-aos='mv-fadeIn'] {
  opacity: 0;
  -webkit-transition: 5s 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 5s 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 5s 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='mv-fadeIn'].aos-animate {
  opacity: 1;
}

[data-aos='mv-fadeDown'] {
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
  opacity: 0;
  -webkit-transition: 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='mv-fadeDown'].aos-animate {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

[data-aos='mv-fadeUp'] {
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: 3.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 3.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 3.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='mv-fadeUp'].aos-animate {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[data-aos='top-fadeLeft'] {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
  opacity: 0;
  -webkit-transition: 2s 0.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 2s 0.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 2s 0.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='top-fadeLeft'].aos-animate {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[data-aos='top-fadeRight'] {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: 2s 0.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 2s 0.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 2s 0.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='top-fadeRight'].aos-animate {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

[data-aos='top-lineFadeIn'] {
  opacity: 0;
  -webkit-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

[data-aos='top-lineFadeIn'].aos-animate {
  opacity: 1;
  -webkit-animation-name: sizeScale;
  animation-name: sizeScale;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@media (max-width: 736px) {
  [data-aos='top-lineFadeIn'].aos-animate {
    -webkit-animation-name: sizeScaleSp;
    animation-name: sizeScaleSp;
  }
}

[data-aos='top-progressBar'] {
  opacity: 0;
  -webkit-transition: cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

@media (max-width: 736px) {
  [data-aos='top-progressBar'] {
    -webkit-transition: 1s 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -o-transition: 1s 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    transition: 1s 2s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  }
}

[data-aos='top-progressBar'].aos-animate {
  opacity: 1;
}

@-webkit-keyframes sizeScale {
  0% {
    width: 0;
  }
  100% {
    width: calc(750 / 1200 * 100%);
    background-color: #fff;
  }
}

@keyframes sizeScale {
  0% {
    width: 0;
  }
  100% {
    width: calc(750 / 1200 * 100%);
    background-color: #fff;
  }
}

@-webkit-keyframes sizeScaleSp {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}

@keyframes sizeScaleSp {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}

@-webkit-keyframes progressBar {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(78px);
    transform: translateY(78px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes progressBar {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(78px);
    transform: translateY(78px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes progressBarSp {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes progressBarSp {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes iconNone {
  100% {
    opacity: 0;
    content: none;
  }
}

@keyframes iconNone {
  100% {
    opacity: 0;
    content: none;
  }
}
