@charset "UTF-8";
@-webkit-keyframes sizeScale {
  0% {
    width: 0;
  }
  100% {
    width: calc(750 / 1200 * 100%);
    background-color: #fff;
  }
}
@keyframes sizeScale {
  0% {
    width: 0;
  }
  100% {
    width: calc(750 / 1200 * 100%);
    background-color: #fff;
  }
}

@-webkit-keyframes sizeScaleSp {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}

@keyframes sizeScaleSp {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    background-color: #fff;
  }
}

@-webkit-keyframes progressBar {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(78px);
    transform: translateY(78px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes progressBar {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(78px);
    transform: translateY(78px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes progressBarSp {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes progressBarSp {
  0% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
  75% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes iconNone {
  100% {
    opacity: 0;
    content: none;
  }
}

@keyframes iconNone {
  100% {
    opacity: 0;
    content: none;
  }
}

/* --------------------------------------------------------------------------------
  common.css change
-------------------------------------------------------------------------------- */
#container {
  padding: 0 0 150px;
}

@media (max-width: 736px) {
  #container {
    padding: 55px 0 95px;
  }
}

@media (max-width: 736px) {
  .c-nav {
    display: none;
  }
}

#mainContent {
  position: relative;
}

/* --------------------------------------------------------------------------------
  p-mainVisual
-------------------------------------------------------------------------------- */
.p-mainVisual {
  position: relative;
}

@media (max-width: 736px) {
  .p-mainVisual {
    width: auto;
    height: auto;
  }
}

.p-mainVisual__image {
  width: 100%;
}

@media (max-width: 736px) {
  .p-mainVisual__inner {
    position: absolute;
    top: calc(100 / 1110 * 100%);
    left: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.p-mainVisual__logo {
  width: 187px;
  margin: 0 auto 45px;
}

@media (max-width: 736px) {
  .p-mainVisual__logo {
    width: calc(267 / 750 * 100%);
    margin: 0 auto 35px;
  }
}

.p-mainVisual__heading {
  font-weight: 300;
  margin-bottom: 45px;
  letter-spacing: 9px;
}

.p-mainVisual__heading::before, .p-mainVisual__heading::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-mainVisual__heading::before {
  margin-top: calc((1 - 1.42) * 0.5em);
}

.p-mainVisual__heading::after {
  margin-bottom: calc((1 - 1.42) * 0.5em);
}

@media (max-width: 736px) {
  .p-mainVisual__heading {
    font-size: 27px;
    line-height: 1.6;
    margin-bottom: 25px;
  }
  .p-mainVisual__heading::before, .p-mainVisual__heading::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  .p-mainVisual__heading::before {
    margin-top: calc((1 - 1.61) * 0.5em);
  }
  .p-mainVisual__heading::after {
    margin-bottom: calc((1 - 1.61) * 0.5em);
  }
}

.p-mainVisual__text {
  font-weight: 300;
  line-height: 2.38;
  letter-spacing: 3.2px;
}

.p-mainVisual__text::before, .p-mainVisual__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-mainVisual__text::before {
  margin-top: calc((1 - 2.38) * 0.5em);
}

.p-mainVisual__text::after {
  margin-bottom: calc((1 - 2.38) * 0.5em);
}

@media (max-width: 736px) {
  .p-mainVisual__text {
    font-size: 11px;
    line-height: 2.35;
  }
  .p-mainVisual__text::before, .p-mainVisual__text::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  .p-mainVisual__text::before {
    margin-top: calc((1 - 2.35) * 0.5em);
  }
  .p-mainVisual__text::after {
    margin-bottom: calc((1 - 2.35) * 0.5em);
  }
}

.p-mainVisual__caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px 10px;
  text-align: right;
  color: #ffffff;
}

.p-mainVisual__progressBar {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1px;
  height: 78px;
  margin: -39px 0 0 -.5px;
  background: #000;
}

@media (max-width: 736px) {
  .p-mainVisual__progressBar {
    height: 50px;
    margin: -25px 0 0 -.5px;
  }
}

.p-mainVisual__progressBar:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50%;
  content: '';
  background-color: #fff;
}

.p-mainVisual__progressBarWrap {
  position: relative;
  height: 100%;
}

.p-mainVisual__progressBarInner {
  position: absolute;
  left: 50%;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: -2.5px;
  -webkit-animation: progressBar 1.5s ease .5s infinite;
  animation: progressBar 1.5s ease .5s infinite;
  border-radius: 50%;
  background-color: #000;
}

@media (max-width: 736px) {
  .p-mainVisual__progressBarInner {
    -webkit-animation: progressBarSp 1.5s ease .5s infinite;
    animation: progressBarSp 1.5s ease .5s infinite;
  }
}

/* --------------------------------------------------------------------------------
  p-introduction
-------------------------------------------------------------------------------- */
.p-introduction {
  position: relative;
  margin-bottom: 190px;
  background: url("../imgs/bg-introduction.gif") repeat-x center center;
}

@media (max-width: 736px) {
  .p-introduction {
    margin-bottom: 95px;
  }
}

@media (max-width: 1600px) {
  .p-introduction {
    background-size: contain;
  }
}

.p-introduction__wrap {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 736px) {
  .p-introduction__wrap {
    padding: 0 25px;
  }
}

.p-introduction__top {
  z-index: 2;
}

.p-introduction__topInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 736px) {
  .p-introduction__topInner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.p-introduction__topTextColumn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(854 / 1600 * 100%);
  padding-left: calc(200 / 1600 * 100%);
}

@media (max-width: 736px) {
  .p-introduction__topTextColumn {
    width: auto;
    padding-left: 0;
  }
}

.p-introduction__topImageColumn {
  width: calc(744 / 1600 * 100%);
}

@media (max-width: 736px) {
  .p-introduction__topImageColumn {
    width: auto;
    margin-top: 55px;
  }
}

.p-introduction__bottom {
  z-index: 2;
  margin-top: calc(-170 / 1600 * 100%);
}

@media (max-width: 736px) {
  .p-introduction__bottom {
    margin-top: 55px;
  }
}

.p-introduction__bottomInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 736px) {
  .p-introduction__bottomInner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.p-introduction__bottomTextColumn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(854 / 1600 * 100%);
  padding-left: calc(107 / 1600 * 100%);
}

@media (max-width: 736px) {
  .p-introduction__bottomTextColumn {
    width: auto;
    padding-left: 0;
  }
}

.p-introduction__bottomImageColumn {
  width: calc(744 / 1600 * 100%);
}

@media (max-width: 736px) {
  .p-introduction__bottomImageColumn {
    width: auto;
    margin-bottom: 45px;
  }
}

.p-introduction__heading {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.72;
  padding-bottom: 53px;
  letter-spacing: 6.4px;
}

.p-introduction__heading::before, .p-introduction__heading::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-introduction__heading::before {
  margin-top: calc((1 - 1.72) * 0.5em);
}

.p-introduction__heading::after {
  margin-bottom: calc((1 - 1.72) * 0.5em);
}

@media (max-width: 736px) {
  .p-introduction__heading {
    font-size: 21px;
    line-height: 1.67;
    padding-bottom: 45px;
    text-align: center;
    letter-spacing: 4.2px;
  }
  .p-introduction__heading::before, .p-introduction__heading::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  .p-introduction__heading::before {
    margin-top: calc((1 - 1.67) * 0.5em);
  }
  .p-introduction__heading::after {
    margin-bottom: calc((1 - 1.67) * 0.5em);
  }
}

.p-introduction__text {
  font-size: 16px;
  line-height: 2.38;
  letter-spacing: 1.9px;
}

.p-introduction__text::before, .p-introduction__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-introduction__text::before {
  margin-top: calc((1 - 2.38) * 0.5em);
}

.p-introduction__text::after {
  margin-bottom: calc((1 - 2.38) * 0.5em);
}

@media (max-width: 736px) {
  .p-introduction__text {
    font-size: 13px;
    line-height: 2.31;
    letter-spacing: 1.5px;
  }
  .p-introduction__text::before, .p-introduction__text::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  .p-introduction__text::before {
    margin-top: calc((1 - 2.31) * 0.5em);
  }
  .p-introduction__text::after {
    margin-bottom: calc((1 - 2.31) * 0.5em);
  }
}

/* --------------------------------------------------------------------------------
  p-lowIntroduction
-------------------------------------------------------------------------------- */
.p-lowIntroduction {
  margin-bottom: 90px;
}

@media (max-width: 736px) {
  .p-lowIntroduction {
    margin-bottom: 75px;
  }
}

.p-lowIntroduction:last-of-type {
  margin-bottom: 0;
}

.p-lowIntroduction__wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0 145px;
}

@media (max-width: 736px) {
  .p-lowIntroduction__wrap {
    padding: 0 25px;
  }
}

.p-lowIntroduction__wrap_in_plan {
  background: url("../imgs/bg-lowintroduction-01.gif") no-repeat right;
}

@media (max-width: 736px) {
  .p-lowIntroduction__wrap_in_plan {
    background: url("../imgs/sp/bg-lowintroduction-01.gif") no-repeat right top;
    background-size: 70% auto;
  }
}

.p-lowIntroduction__wrap_in_accessLocation {
  background: url("../imgs/bg-lowintroduction-02.gif") no-repeat left;
}

@media (max-width: 736px) {
  .p-lowIntroduction__wrap_in_accessLocation {
    background: url("../imgs/sp/bg-lowintroduction-02.gif") no-repeat left top;
    background-size: 70% auto;
  }
}

.p-lowIntroduction__bg {
  position: absolute;
  top: 0;
  width: 470px;
  height: 790px;
  -webkit-transition: 2s 2s;
  -o-transition: 2s 2s;
  transition: 2s 2s;
  opacity: 0;
}

@media (max-width: 736px) {
  .p-lowIntroduction__bg {
    width: calc(530 / 750 * 100%);
    height: 100%;
    -webkit-transition: 2s .5s;
    -o-transition: 2s .5s;
    transition: 2s .5s;
  }
}

.p-lowIntroduction__composite {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 80px calc(110 / 1200 * 100%) 0 calc(40 / 1200 * 100%);
}

@media (max-width: 736px) {
  .p-lowIntroduction__composite {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: calc(45 / 530 * 100%) 0 0;
  }
}

.p-lowIntroduction__composite_state_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding: 80px calc(40 / 1200 * 100%) 0 calc(110 / 1200 * 100%);
}

@media (max-width: 736px) {
  .p-lowIntroduction__composite_state_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: calc(45 / 530 * 100%) 0 0;
  }
}

.p-lowIntroduction__textColumn {
  width: calc(480 / 1050 * 100%);
}

@media (max-width: 736px) {
  .p-lowIntroduction__textColumn {
    width: 100%;
  }
}

.p-lowIntroduction__textColumn_position_left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: calc(90 / 1050 * 100%);
}

@media (max-width: 736px) {
  .p-lowIntroduction__textColumn_position_left {
    padding-left: 0;
  }
}

.p-lowIntroduction__line {
  position: absolute;
  top: 0;
  width: calc(750 / 1200 * 100%);
  height: 1px;
}

@media (max-width: 736px) {
  .p-lowIntroduction__line {
    position: static;
    width: 100%;
    margin-bottom: 25px;
  }
}

.p-lowIntroduction__line_in_plan {
  left: calc(40 / 1200 * 100%);
}

.p-lowIntroduction__line_in_accessLocation {
  left: calc(110 / 1200 * 100%);
}

.p-lowIntroduction__lineInner {
  position: relative;
}

.p-lowIntroduction__lineInner:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 1px;
  content: '';
  background-color: #000;
}

.p-lowIntroduction__title {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 18px;
  line-height: 2.33;
  padding-bottom: 90px;
  letter-spacing: 2.7px;
}

.p-lowIntroduction__title::before, .p-lowIntroduction__title::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-lowIntroduction__title::before {
  margin-top: calc((1 - 2.33) * 0.5em);
}

.p-lowIntroduction__title::after {
  margin-bottom: calc((1 - 2.33) * 0.5em);
}

@media (max-width: 736px) {
  .p-lowIntroduction__title {
    font-size: 12px;
    line-height: 1.75;
    padding-bottom: 25px;
    letter-spacing: 1.8px;
  }
  .p-lowIntroduction__title::before, .p-lowIntroduction__title::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  .p-lowIntroduction__title::before {
    margin-top: calc((1 - 1.75) * 0.5em);
  }
  .p-lowIntroduction__title::after {
    margin-bottom: calc((1 - 1.75) * 0.5em);
  }
}

.p-lowIntroduction__heading {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.93;
  padding-bottom: 45px;
  letter-spacing: 4.2px;
}

.p-lowIntroduction__heading::before, .p-lowIntroduction__heading::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-lowIntroduction__heading::before {
  margin-top: calc((1 - 1.93) * 0.5em);
}

.p-lowIntroduction__heading::after {
  margin-bottom: calc((1 - 1.93) * 0.5em);
}

@media (max-width: 736px) {
  .p-lowIntroduction__heading {
    font-size: 19px;
    line-height: 1.68;
    padding-bottom: 25px;
    letter-spacing: 2.85px;
  }
  .p-lowIntroduction__heading::before, .p-lowIntroduction__heading::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  .p-lowIntroduction__heading::before {
    margin-top: calc((1 - 1.68) * 0.5em);
  }
  .p-lowIntroduction__heading::after {
    margin-bottom: calc((1 - 1.68) * 0.5em);
  }
}

.p-lowIntroduction__text {
  font-size: 16px;
  line-height: 2;
  padding-bottom: 90px;
  letter-spacing: 3.2px;
}

.p-lowIntroduction__text::before, .p-lowIntroduction__text::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.p-lowIntroduction__text::before {
  margin-top: calc((1 - 2) * 0.5em);
}

.p-lowIntroduction__text::after {
  margin-bottom: calc((1 - 2) * 0.5em);
}

@media (max-width: 736px) {
  .p-lowIntroduction__text {
    font-size: 13px;
    line-height: 1.92;
    padding-bottom: 25px;
    letter-spacing: 2.6px;
  }
  .p-lowIntroduction__text::before, .p-lowIntroduction__text::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  .p-lowIntroduction__text::before {
    margin-top: calc((1 - 1.92) * 0.5em);
  }
  .p-lowIntroduction__text::after {
    margin-bottom: calc((1 - 1.92) * 0.5em);
  }
}

.p-lowIntroduction__link {
  line-height: 1;
  display: inline-block;
  height: 50px;
  -webkit-transition: .4s ease-in;
  -o-transition: .4s ease-in;
  transition: .4s ease-in;
}

@media (min-width: 737px) {
  .p-lowIntroduction__link:hover .p-lowIntroduction__linkText:after {
    width: 60px;
    height: 60px;
    -webkit-transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -o-transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    transition: width 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), height 1s cubic-bezier(0.1, 0.53, 0.44, 0.8), opacity 1s cubic-bezier(0.1, 0.53, 0.44, 0.8);
    -webkit-transform: translate(-47%, -50%);
    -ms-transform: translate(-47%, -50%);
    transform: translate(-47%, -50%);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

@media (max-width: 736px) {
  .p-lowIntroduction__link {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #000;
  }
}

.p-lowIntroduction__linkText {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  letter-spacing: 1.8px;
}

@media (max-width: 736px) {
  .p-lowIntroduction__linkText {
    margin-left: 0;
  }
}

.p-lowIntroduction__linkText:before, .p-lowIntroduction__linkText:after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  content: '';
  -webkit-transform: translate(0, -50%) scale(1);
  -ms-transform: translate(0, -50%) scale(1);
  transform: translate(0, -50%) scale(1);
  border-radius: 50%;
  background-color: #000000;
}

.p-lowIntroduction__linkText:after {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: .4;
}

.p-lowIntroduction__imageColumn {
  display: block;
  overflow: hidden;
  width: calc(570 / 1050 * 100%);
}

@media (max-width: 736px) {
  .p-lowIntroduction__imageColumn {
    width: auto;
    margin-bottom: 25px;
  }
  .p-lowIntroduction__imageColumn .caption {
    text-align: right;
  }
}

@media (min-width: 737px) {
  .p-lowIntroduction__imageColumn:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
    box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.3);
  }
}

.p-lowIntroduction__image {
  -webkit-transition: 1.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  -o-transition: 1.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
  transition: 1.5s cubic-bezier(0.1, 0.53, 0.44, 0.8);
}

.p-lowIntroduction__image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
