@charset "UTF-8";
/* --------------------------------------------------------------------------------
  common.css change
-------------------------------------------------------------------------------- */
#container {
  padding-bottom: 190px;
}

@media (max-width: 736px) {
  #container {
    padding-bottom: 0;
  }
}

.c-topLead__block {
  padding: 100px 0 242px;
  background: url("../imgs/bg-beige.jpg") repeat-x top left;
}

@media (max-width: 736px) {
  .c-topLead__block {
    padding: 45px 0 100px;
  }
}

@media (max-width: 736px) {
  .c-topLead__wrap {
    padding: 0 25px;
  }
}

.c-topLead__titleWrap {
  width: 100%;
}

/* --------------------------------------------------------------------------------
  map
-------------------------------------------------------------------------------- */
.map {
  width: 100%;
}

.map__googleMap {
  line-height: 1;
  display: block;
  width: 220px;
  margin: 30px 0 0 auto;
  padding: 17px 0;
  text-align: center;
  letter-spacing: 2.1px;
  border: 1px solid #000;
}

@media (max-width: 736px) {
  .map__googleMap {
    margin: 30px auto 0;
  }
}

@media (min-width: 737px) {
  .map__googleMap:hover {
    opacity: .4;
  }
}

.map__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px 60px 50px 50px;
  border: solid 1px #b9b1ac;
}

@media (max-width: 736px) {
  .map__contact {
    margin-top: 30px;
    padding: 30px 20px;
  }
}

.map__contactText {
  line-height: 2.29;
  width: 410px;
  color: #000;
}

.map__contactText::before, .map__contactText::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.map__contactText::before {
  margin-top: calc((1 - 2.29) * 0.5em);
}

.map__contactText::after {
  margin-bottom: calc((1 - 2.29) * 0.5em);
}

@media (max-width: 736px) {
  .map__contactText {
    width: 100%;
    padding-bottom: 40px;
  }
}

.map__contactColumn {
  width: 550px;
}

@media (max-width: 736px) {
  .map__contactColumn {
    width: 100%;
  }
}

.map__contactRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #b9b1ac;
}

.map__contactUs {
  font-size: 12px;
  line-height: 2;
  width: 260px;
  padding-right: 19px;
  letter-spacing: 1.8px;
  color: #000;
  border-right: solid 1px #92867f;
  text-align: center;
}

.map__contactUs::before, .map__contactUs::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.map__contactUs::before {
  margin-top: calc((1 - 2) * 0.5em);
}

.map__contactUs::after {
  margin-bottom: calc((1 - 2) * 0.5em);
}

@media (max-width: 736px) {
  .map__contactUs {
    padding-right: 0;
    padding-bottom: 30px;
    text-align: center;
    border-right: none;
  }
}

.map__contactUsInner {
  font-size: 14px;
  letter-spacing: 2.1px;
}

.map__contactTel {
  font-family: "Source Serif Pro", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "Noto Serif Japanese", serif;
  font-size: 22px;
  line-height: 1.23;
  display: block;
  width: 250px;
  letter-spacing: 2.2px;
}

.map__contactTel::before, .map__contactTel::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.map__contactTel::before {
  margin-top: calc((1 - 1.23) * 0.5em);
}

.map__contactTel::after {
  margin-bottom: calc((1 - 1.23) * 0.5em);
}

@media (min-width: 737px) {
  .map__contactTel {
    pointer-events: none;
  }
}

@media (max-width: 736px) {
  .map__contactTel {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}

.map__contactTelNum {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 736px) {
  .map__contactTelNum {
    font-size: 24px;
  }
}

.map__requestBtn {
  width: 255px;
  height: 50px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.2);
  box-shadow: 0 0 30px 0 rgba(5, 4, 4, 0.2);
}

@media (max-width: 736px) {
  .map__requestBtn {
    width: 100%;
  }
}

@media (min-width: 737px) {
  .map__requestBtn:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(5, 4, 4, 0.1);
    box-shadow: 0 0 15px 0 rgba(5, 4, 4, 0.1);
  }
}

.map__requestBtn .a-btn__text {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */